@font-face 
    font-family: 'GT-Flexa'
    src: url('../fonts/GT-Flexa-Extended-Light.woff2') format('opentype')
    font-weight: 300

@font-face 
    font-family: 'GT-Flexa'
    src: url('../fonts/GT-Flexa-Extended-Thin.woff2') format('opentype')
    font-weight: 200

@font-face 
    font-family: 'GT-Flexa-text'
    src: url('../fonts/GT-Flexa-Standard-Light.woff2') format('opentype')

@font-face 
    font-family: 'Tobias-light'
    src: url('../fonts/Tobias-Light.woff2') format('truetype')

@keyframes marquee 
    0% 
        transform: translateX(0%)
    100% 
        transform: translateX(-50%)
  
@keyframes link-pulse 
    0% 
      opacity: 0.7
    100% 
      opacity: 1

*,
:after,
:before
  box-sizing: border-box

::selection
  background: #F27E40

html, body
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline
    scroll-behavior: smooth
    color-scheme: dark
body
        background: #000
        color: #fff
        cursor: url(../images/pointer-1.svg) 10 10, default
        .container-fluid
            width: 100%
            padding-right: 24px
            padding-left: 24px
            margin-right: auto
            margin-left: auto
        a, button 
            text-decoration: none
            cursor: url(../images/pointer-2.svg) 10 10, default
        a:hover 
            animation: link-pulse ease-in-out 0.8s infinite alternate
        .header-container
            height: 72px
            width: 100%
            padding-left: 24px
            padding-right: 24px
            display: flex
            justify-content: space-between
            position: fixed
            align-items: center
            z-index: 3
            background-image: linear-gradient(180deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .2) 60%, rgba(0, 0, 0, .05) 80%, transparent)
        header
            font-family: 'Tobias-light', serif
            font-size: 32px
            letter-spacing: -2px
            .header-content
                display: flex
                align-items: center
                .logo 
                    a::before 
                        content: ""
                        width: 12px
                        height: 12px
                        background-color: #F45500
                        display: inline-block
                        margin-top: 4px
                        margin-right: 6px
                        border-radius: 50%
                        box-shadow: 0 0 12px hsla(21, 100%, 48%, 0.9)
            .header-links
                display: flex
                justify-content: flex-end
                align-items: center
                letter-spacing: -2px
                .interpunct
                    width: 24px
                    text-align: center
                .header-preorder
                    font-family: "Tobias-light", serif
                    letter-spacing: -2px
                    font-size: 32px
                    height: 48px
                    background-color: #F45500
                    border-radius: 16px
                    border: none
                    color: #ffffff
                    padding-left: 16px
                    padding-right: 16px
                    transition: transform .2s
                    box-shadow: 0 0 30px hsla(21, 100%, 48%, 0.6)
            a
                text-decoration: none
                color: #fff
        main
            .col-1
                flex: 1 3 33%
                max-width: 33%
            .col-2
                flex: 3 1 66%
                max-width: 66%
            .col-3
                flex: 1 1 100%
            .col-4
                flex: 1 2 50%
                max-width: 50%
            .grey-text
                color: #9D9D9D
            .image-row
                display: flex
                margin-left: -4px
                margin-right: -4px
                .card
                    background-color: #202020
                    border-radius: 20px
                    overflow: hidden
                    position: relative
                    margin: 4px
                    transition: transform .2s
                    display: flex
                img 
                    width: 100%
            .card-content
                position: absolute
                bottom: 0
                left: 0
                padding: 24px
                width: 100%
            .card-heading, .card-text-small 
                font-family: 'GT-Flexa', serif
                font-size: 26px
                line-height: 28px
            .card-text-large 
                font-family: 'GT-Flexa', serif
                font-size: 68px
                line-height: 72px
                font-weight: 200
                width: 66%
            video
                border-radius: 20px
                width: 100%
            .intro-video
                padding-top: 72px
                display: flex
                flex-direction: column
                position: relative
                width: 100%
                transition: transform .2s
            h1
                margin: 0 0 16px 0
                font-family: 'GT-Flexa', serif
                font-size: 68px
                line-height: 68px
                font-weight: 200
            h2
                margin: 4px 0 16px 0
                font-family: 'GT-Flexa', serif
                font-size: 42px
                line-height: 48px
                font-weight: 200
            .section-header 
                overflow: hidden
                .marquee-wrapper
                    display: flex
                    animation: marquee 12s linear infinite
                    width: fit-content
                    h3
                        margin: 0 0 4px 0
                        font-family: 'GT-Flexa', serif
                        font-size: 6vw
                        line-height: 92px
                        font-weight: 200
                        padding: 0 1vw
                        will-change: transform
            .tech-specs-table-container
                width: 100%
                .table-row
                    width: 100%
                    display: flex
                    border-bottom: 1px solid #9D9D9D
                    padding: 16px 0
                    transition: background-color .2s ease-out, color .3s
                    .table-row-heading, .table-row-entries
                        font-family: 'GT-Flexa', serif
                        font-size: 26px
                        line-height: 34px
                        font-variant-numeric: tabular-nums slashed-zero
                    .table-row-heading
                        width: 25%
                        padding-left: 24px
                    .table-row-entries
                        width: 75%
                        a 
                            color: #9D9D9D
                            text-decoration: underline
                .table-row:hover 
                    background-color: #fff
                    color: #000
            .waitlist-card-container
                background-color: #fff
                border-radius: 20px
                overflow: hidden
                position: relative
                margin: 48px 4px 4px 4px
                display: flex
                align-items: center
            .waitlist-info-container
                font-family: 'GT-Flexa', sans-serif
                color: #000
                padding-right: 96px
            .waitlist-image, .waitlist-info-container
                width: 50% !important
            .waitlist-heading
                font-size: 68px
                line-height: 72px
                font-weight: 200
            .waitlist-text
                font-size: 24px
                line-height: 32px
                padding-top: 16px
                padding-bottom: 32px
            .waitlist-email-field
                border-radius: 20px
                background-color: #EAEAEA
                .return-to-website
                    width: 100%
                    max-width: 100% !important
            .waitlist-email-field, .waitlist-email-field input, .waitlist-email-field button, #mc-embedded-subscribe, .mc-field-group
                height: 72px
                width: 100%
                display: flex
            .waitlist-email-field a 
                width: 100%
            .waitlist-email-field button, #mc-embedded-subscribe, .btn-primary
                border: none !important
                background-color: #F45500 !important
                color: #fff !important
                max-width: 200px !important
                border-radius: 20px !important
                transition: transform .2s !important
                display: flex !important
                justify-content: center !important
                align-items: center !important
            .pre-order-page-link 
                font-family: 'Tobias-Light', sans-serif
                font-size: 42px
                letter-spacing: -2px
        footer
            font-family: 'Tobias-light', serif
            font-size: 32px
            letter-spacing: -2px
            .copyright 
                max-width: 33%
            .footer-links
                width: 50%
                display: flex
                flex-direction: row
                a
                    color: #fff
                    padding: 8px 0
            .footer-links-column-1, .footer-links-column-2
                width: 100%
                display: flex
                flex-direction: column
        .footer-container
            margin: 128px 0 48px 0
            min-height: 337px
            width: 100%
            padding-left: 24px
            padding-right: 24px
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            justify-content: space-between
            align-items: flex-start

/* About page */
.about 
    background-color: #fff
    color: #000
    .header-container
        background-image: linear-gradient(180deg, rgba(255, 255, 255, .7), rgba(255, 255, 255, .2) 60%, rgba(255, 255, 255, .05) 80%, transparent)
    .logo-text, a
        color: #000
    .footer-links
        a
            color: #000
    
.about-page-content
    h1
        padding-top: 128px
    p 
        margin: 64px 0

.about-page-content h1, .about-page-content ol, .about-page-content p
    font-family: 'Tobias-light', serif
    font-size: 85px
    line-height: 85px
    letter-spacing: -4px

