/*********************************************************/
html{
	height: 100%;
	font-size: 20px;
	scroll-behavior: smooth;
}

body{
	margin: 0;
	background-color: #282A2B;
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	color: #ddd;
	font-family: 'Open Sans', sans-serif;
}

header{
	background-color: #282A29;
	min-height: 50px;
	min-width: 100%;
	display: grid;
	grid-template-columns: 50px 20vw 1fr 1fr 1fr 1fr 20vw 50px;
	box-shadow: 0px 0px 40px #1C1D1E ;
	align-items: center;
}

header a{
	color: inherit;
	text-decoration: none;
}

footer{
	background-color: #282A29;
	min-height: 50px;
	min-width: 100%;
	line-height: 50px;
	text-align: center;
	box-shadow: 0 0 40px #1C1D1E ;
}

/*********************************************************/

.main-index{
	display: grid;
	grid-template-columns: 15vw 1fr 2fr 15vw;
	margin-top: 10vh;
	margin-bottom: 10vh;
}

.main-index .content{
	margin-left: 2vw;
}

.main-side{
	display: grid;
	grid-template-columns: 15vw 1fr 15vw;
}

.self-photo img{
	width: 100%;
	border-radius: 30px;
	filter: brightness(80%);
}

.age{
	color: #878787;
	white-space: pre-wrap;
	margin: clamp(5px, 5vh, 40px) 0;
}

.home-image{
	filter: invert(73%) sepia(74%) saturate(423%) hue-rotate(29deg) brightness(105%) contrast(97%);
	margin: 2.5px 2.5px 2.5px 10px;
}

.login-image{
	filter: invert(73%) sepia(74%) saturate(423%) hue-rotate(29deg) brightness(105%) contrast(97%);
	margin: 5px 2.5px 2.5px 2.5px;
}

.up-image{
	filter: invert(73%) sepia(74%) saturate(423%) hue-rotate(29deg) brightness(105%) contrast(97%);
}

.a-home{
	width: 50px;
	height: 50px;
}

.a-login{
	width: 50px;
	height: 50px;
}

.fckn-up-arrow{
	display: grid;
	grid-template-columns: auto 70px;
}

.b-more {
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #B7F238;
  color: #000;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

.b-more:hover {
  background: #89B52A;
}

.b-more:focus {
  outline: none;
  box-shadow: 0 0 10px 4px #DBFF8E;
}

.heading{
	color: #B7F238;
}

.feedback-form, .login-form{
	display: grid;
	grid-template-rows: 1fr;
	background-color: #1C1D1E;
	margin-top: 10vh;
	margin-bottom: 10vh;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
	padding: 50px;
	box-shadow: 10px 5px 40px #1C1D1E ;
	text-align: center;
	min-width: 300px;
	max-width: 500px;
}

.login-form{
	min-width: 200px;
	max-width: 500px;
	padding: 50px 0 50px 0;
}

.feedback-form input, .login-form input{
	min-width: 300px;
	min-height: 40px;
	max-width: 1000px;
	max-height: 40px;
	font-size: 16px;
	background-color: #282A2B;
	border-color: #282A2B;
	border-radius: 10px;
	color: #ddd;
	padding-left: 7px;
}

.feedback-form textarea{
	background-color: #282A2B;
	border-color: #282A2B;
	color: #ddd;
	font-size: 16px;
	resize: none;
	min-width: 300px;
	min-height: 100px;
	max-width: 1000px;
}

.feedback-form select{
	background-color: #282A2B;
	border-color: #282A2B;
	color: #ddd;
	font-size: 16px;
}

.feedback-form button, .login-form button{
	background-color: #282A2B;
	border-color: #282A2B;
	border-radius: 10px;
	font-size: 24px;
	color: #ddd;
	margin-top: 30px;
	width: 60%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}

.feedback-form button:hover, .login-form button:hover {
	transition: 300ms;
	background-color: #3e4142;
	border-color: #3e4142;
	box-shadow: 5px 5px 10px #3b3b3b 
}

.feedback-form button:active, .login-form button:active {
	transition: 0;
	background-color: #525557;
	border-color: #525557;
}

.fb-bio, .fb-email, .fb-abt-me, .fb-type, .fb-message, .fb-upld-file, .fb-pers-data {
	display: grid;
	text-align: left;
	justify-content: left;
	margin-top: 30px;
	padding-left: 3vw;
	padding-right: 3vw;
}
.l-login, .l-password, .l-stay-sign-in{
	display: grid;
	text-align: center;
	justify-content: center;
	margin-top: 30px;
	padding-left: 3vw;
	padding-right: 3vw;
}

input[type='radio'], input[type='checkbox']{
	accent-color: #282A2B;
	min-width: 25px;
	vertical-align: middle;
	transform: scale(0.8);
	margin-bottom: 3px;
}

/*********************************************************/

.ta-c{
	text-align: center;
}

.fs-78{
	font-size: 78px;
}

.c-green{
	color: #B7F238;
}

.m-b-for-cntnt{
	margin-bottom: clamp(60px, 5vh, 100px);
}
